extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading")  #{title}

            // Unknown artist years, display nothing
            if !artist.year_of_birth && !artist.year_of_death

            else if artist.year_of_birth && !artist.year_of_death
                // Living artist
                h2(class="artistDetailField") Born #{artist.year_of_birth}

            else 
                // Known artist birth and death
                h2(class="artistDetailField") #{artist.year_of_birth} - #{artist.year_of_death} 
            
            //- p #[strong Portrait: ]

            p(class="artistDetailField") #{artist.bio}

            h2(class="artistDetailField") Pieces by #{title}

            ul(class='pieceGrid')
                each piece in artist_pieces
                    li(class="piecePreview")
                        img(src=`/images/${piece.image}` alt="Image" class="imgThumbnail")
                        a(href=piece.url) #{piece.title}

                else
                    p This artist has no pieces in the collection.

            div(class='options')
                p
                    a(href=artist.url+'/update') Update artist
                p
                    a(href=artist.url+'/delete') Delete artist
                