extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading") #{title}: #{artist.display_name}

            if artist_pieces.length 

                h2 Delete the following pieces before attemping to delete this artist:

                div(style='margin-left:20px;margin-top:20px') 
                    ul(class="artistUL") 
                        each piece in artist_pieces
                            li 
                                a(href=piece.url class='artistLI') #{piece.title} 

            else 
                h2 Are you sure you want to delete this artist? 

                form.formDeletion(method='POST')
                    div.form-group 
                        input#artistid.form-control(type='hidden', name='artistid', value=artist._id) 

                    button.controlButton.wholeRow(type='submit') Delete