extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading")= title 

            form.formNewPiece(method='POST' enctype='multipart/form-data') 
                div.formSection.wholeRow
                    label(for='title') *Title:
                    input.form-control(type='text' placeholder='Title of work' name='title' maxlength="100" required value=(undefined==piece ? '' : piece.title))            
                
                div.formSection.wholeRow
                    label(for='artist') *Artist:
                    select#artist.form-control(name="artist" required)
                        option(value='') --Select an Artist--
                        for artist in artists 
                            if piece 
                                if artist._id.toString()===piece.artist._id.toString() 
                                    option(value=artist._id selected) #{artist.sorted_name} 
                                else 
                                    option(value=artist._id) #{artist.sorted_name} 
                            else 
                                option(value=artist._id) #{artist.sorted_name} 
                
                div.formSection.wholeRow
                    label(for='year') *Year made:
                    input.form-control(type='text' required placeholder='1565 / c. 1700 / 1850-1852 / etc.' name='year' maxlength="20"  value=(undefined==piece ? '' : piece.year))
                div.formSection.wholeRow
                    label(for='medium') *Medium:
                    input.form-control(type='text' required placeholder='Oil on canvas / tempera / watercolour / etc.' name='medium' maxlength="100"  value=(undefined==piece ? '' : piece.medium))
                div.formSection
                    label(for='height') *Height (cm):
                    input.form-control(type='number' required step="0.01" max="9999" placeholder='Height' name='height' value=(undefined==piece ? '' : piece.height)) 
                div.formSection    
                    label(for='width') *Width (cm):
                    input.form-control(type='number' required step="0.01" max="9999" placeholder='Width' name='width' value=(undefined==piece ? '' : piece.width)) 
                div.formSection.wholeRow
                    label(for='description') Description:
                    textarea#description.form-control(rows='5' placeholder="Description" name='description' maxlength="1000" value=(undefined==piece ? '' : piece.description)) 
                div.formSection.wholeRow
                    label(for='image') *Upload image: 
                    input#image.form-control(type='file', name='image' required  value=(undefined==piece ? '' : piece.image))
                
                button.controlButton.wholeRow(type='submit') Submit

            if errors 
                ul 
                    for error in errors 
                        li!= error.msg