extends layout 

block content 
    div(class="backgroundDefault")
        //- div(class='centeredContent')
        div(class='fullContent')
            //- h1(class="defaultSubheading") #{title} 
            
            div#pieceDetailCard
                button.pieceDetailToggle View info
                div#pieceDetailBody.hide
                    div#pieceDetailKeyFacts
                        p Title:  #{title} 
                        p Artist: 
                            a(href=piece.artist.url) #{piece.artist.display_name}
                        p Year made: #{piece.year} 
                        p Medium:  #{piece.medium}
                        // To do: make dimensions conditional
                        if piece.length 
                            // display 3 dimensions if item has length
                            p Dimensions: #{piece.height} x #{piece.width} x #{piece.length} cm 
                        else if !piece.width && !piece.length 
                            // display height only if no width or length given
                            p Dimensions: #{piece.height} cm (height)
                        else 
                            // display height and width as default (ie most paintings)
                            p Dimensions: #{piece.height} x #{piece.width} cm 
                    
                    div#pieceDetailDescription.
                        Description: #{piece.description} 

                    div#pieceDetailButtons
                        a(href=piece.url+'/delete') Delete piece
                        a(href=piece.url+'/update') Update piece
            
            img.pieceDetailImage(src=`/images/${piece.image}` alt="Image")