extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading")= title 
            if piece_list.length 
                ul(class="pieceGrid")
                    each piece in piece_list 
                        li(class="piecePreview") 
                            a(href=piece.url)
                                img(src=`/images/${piece.image}` alt=`${piece.image}` class="imgThumbnail")
                            a(href=piece.url) #{piece.title} 
                            p #{piece.artist.display_name} 

            else 
                p There are no pieces in the database.