extends layout 

block content 
    div(class="backgroundDefault")
        div(class='fullContent')
            div.pieceDetailCard
                button.pieceDetailToggle.pieceDetailSection View info
                div.pieceDetailBody
                    
                    table.pieceDetailSection
                        tr
                            td Title
                            td #{title} 
                        tr
                            td Artist
                            td 
                                a(href=piece.artist.url) #{piece.artist.display_name}
                        tr
                            td Year made
                            td #{piece.year} 
                        tr
                            td Medium
                            td #{piece.medium}
                        tr
                            td Dimensions
                            td #{piece.height} x #{piece.width} cm 

                    div.pieceDetailSection.pieceDetailDesc
                        p #{piece.description} 

                    table.pieceDetailSection
                        tr 
                            td
                                a(href=piece.url+'/update') Update piece
                            td
                                a(href=piece.url+'/delete') Delete piece
            
            img.pieceDetailImage(src=`/images/${piece.image}` alt="Image")